<div class="container alphabetContainer">
        <div class="row noPadding" padding size-md="6" size-lg="5" size-xs="12">
            <div class="col noPadding">
              <button type="button" class="btn btnAplphabets" (click)="SearchByTitleA()" >A</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleB()">B</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleC()">C</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleD()">D</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleE()">E</button>
            </div>
        </div>
        <div class="row" style="padding-block-start: 0.5rem; padding-inline-start: 1.5rem;" >
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleF()" >F</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleG()">G</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleH()">H</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleI()">I</button>
            </div>
        </div>
        <div class="row noPadding" style="padding-block-start: 0.5rem;" >
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleJ()" >J</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleK()">K</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleL()">L</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleM()">M</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleN()">N</button>
            </div>
        </div>
        <div class="row" style="padding-block-start: 0.5rem; padding-inline-start: 1.5rem;" >
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleO()" >O</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleP()">P</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleQ()">Q</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleR()">R</button>
            </div>
        </div>
        <div class="row noPadding" style="padding-block-start: 0.5rem;" >
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleS()" >S</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleT()">T</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleU()">U</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleV()">V</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleW()">W</button>
            </div>
        </div>
        <div class="row" style="padding-block-start: 0.5rem; padding-inline-start: 1.5rem; padding-block-end: 2rem;" >
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleX()" >X</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleY()">Y</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleZ()">Z</button>
            </div>
            <div class="col noPadding">
                <button type="button" class="btn btnAplphabets" (click)="SearchByTitleHash()">#</button>
            </div>
        </div>
    
</div>