
<ion-content>
    <ion-grid>
      <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem;">
        <div>

        </div>
          <div class="ion-padding" class="ion-text-center" style="color: white;">
            <h1>Browse Songs</h1> 
          </div>

          <div class="container">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn button" (click)="SearchByTitle()" >Title</button>
                </div>
                <div class="col">
                    <button type="button" class="btn button" (click)="SearchByArtist()">Artist</button>
                </div>
                <div class="col">
                    <button type="button" class="btn button" (click)="SearchByGenre()">Genre</button>
                </div>
              </div>
            </div>

            <div class="ion-padding">
                <ion-list>
                    <ion-item *ngFor="let item of items">
                      {{ item }}
                    </ion-item>
                  </ion-list>
            </div>
              
            <div class="card-footer footer" >
                <app-footer>(music) = 'OnMusicClicked($event)'
                  (list) = 'OnListClicked($event)'
                  (profile) = 'OnProfileClicked($event)'
                </app-footer>
            </div>
          </div>
    </ion-grid>
</ion-content>
