#grad1 {
    height: 500px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#E45D9E, #875FA8, #000000); /* Standard syntax (must be last) */
  }
  
  .cont {
    position: relative;
    height: 100%;
    background: linear-gradient(#E45D9E, #875FA8, #000000); 
    background-size: cover;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .containerNew {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
  }
  
  app-login {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  $white-color: #fff;
  $height100: 100%;
  
  .container1{
    justify-content: space-between, space-between;
    display: flex;
    flex-direction: row;
    width: 100%
  }
  
  ion-grid {
    width:100%;
    height: $height100;
    background: linear-gradient(#E45D9E, #875FA8, #000000);
    overflow: auto;
  }
  
  ion-row {
    height: $height100;
  }
  
  ion-row1 {
    width: 100%
  }
  ion-col {
    border: 1px solid #E45D9E
    //background: $white-color;
  }
  
  ion-button {
    font-weight: 200;
  }
  
  ion-icon{
    color: #3880ff;
    font-size: 4rem;
    
  }
  
  @media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: linear-gradient(#E45D9E, #875FA8, #000000)
    }
    ion-col {
        border: none;
    }
  }
  
  img.first-r  {  position: relative; height: 3rem; width: 3em;}
  img.second-r { position: relative; height: 3rem; width: 3em; }
  img.third-r  {  position: relative; height: 3rem; width: 3em;}
  
  .footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:90px;   /* Height of the footer */
    color: #000000;
  }
  