<div class="container">
    <div class="row">
            <div class="col">
                <ion-icon name="list" (click)="OnListClick()"></ion-icon>
            </div>
            <div class="col">
                <ion-icon ios="ios-musical-notes" md="md-musical-notes" (click)="OnMusicClick()">
            </ion-icon>
            </div>
            <div class="col">
                <ion-icon name="person" md="md-person" (click)="OnProfileClick()">
                </ion-icon>
            </div>
    </div>
</div>