<ion-content>
    <ion-grid>
        <app-home-menu></app-home-menu>
        <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem; text-align: center;">

            <div class="ion-padding" class="ion-text-center" style="color: white;">
                <h1>Browse Songs</h1> 
            </div>
    
            <div class="container">
                <app-search-options>
                    (title) = 'OnTitleClicked($event)'
                    (artist) = 'OnArtistClicked($event)'
                    (genre) = 'OnGenreClicked($event)'
                </app-search-options>
            </div>


                <div class="myContainer" style="padding-block-start: 0.5rem;" *ngIf = 'genreList'>
                    <div class="container" style="padding-block-start: 0.5rem;" *ngFor="let genre of genreList" >

                            <button #myGenre type="button" class="btn btn-secondary btnMusic btn-lg btn-block" (click) = "OnButtonClick(genre.name)" >
                                    <tr> <td> {{ genre.name }} </td>
                                    </tr>

                            </button>
                    </div>
                </div>


                <div class="card-footer footer" >
                        <app-footer>(music) = 'OnMusicClicked($event)'
                            (list) = 'OnListClicked($event)'
                            (profile) = 'OnProfileClicked($event)'
                        </app-footer>
                </div>
        
        </div>
        
    </ion-grid>
</ion-content>