
<ion-content>
    <ion-grid>
        <app-home-menu></app-home-menu>
        <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem; text-align: center;"> 
          <embed height="200px" type="image/svg+xml" src="../../../assets/Images/White Logo.svg" />
          
          
                <div text-center style="margin-top: 5rem;">
                  <h3>This is a user profile page.</h3>
                </div>
              
            <div class="card-footer footer" >
                <app-footer>(music) = 'OnMusicClicked($event)'
                    (list) = 'OnListClicked($event)'
                    (profile) = 'OnProfileClicked($event)'
                  </app-footer>
            </div>
        </div>
    </ion-grid>
</ion-content>
