
<ion-content>
    <ion-grid>
        <app-home-menu></app-home-menu>
        <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem; text-align: center;"> 
          
          <div *ngIf = 'userInfo'>
            <img class="card-img-top" style="width: 200px; height: 200px;" src="../../../assets/Images/BradPitt.jpg" alt="Card image cap">
          </div>
          
          <br><br>
          <div class="card" style="width: 100%;" *ngIf = 'userInfo'>  
            <div class="card-body">
              <h1 class="card-title">{{userInfo.firstName}} {{userInfo.lastName}}</h1>
              <p class="card-text"> Phone #: {{ userInfo.contactNo }}</p>
              <p class="card-text"> I am a karaoke enthusiast and big fan of </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
              
            <div class="card-footer footer" >
                <app-footer>(music) = 'OnMusicClicked($event)'
                    (list) = 'OnListClicked($event)'
                    (profile) = 'OnProfileClicked($event)'
                  </app-footer>
            </div>
        </div>
    </ion-grid>
</ion-content>
