<ion-content>
    <ion-grid>
        <div>

        </div>
          <div class="ion-padding" class="ion-text-center" style="color: white;">
            <h1>Browse Songs</h1> 
          </div>

          <div class="container">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn button" (click)="SearchByTitle()" >Title</button>
                </div>
                <div class="col">
                    <button type="button" class="btn button" (click)="SearchByArtist()">Artist</button>
                </div>
                <div class="col">
                    <button type="button" class="btn button" (click)="SearchByGenre()">Genre</button>
                </div>
              </div>
            </div>

            <div class="ion-padding">
            <div class="container">
                <div class="row noPadding" >
                    <div class="col noPadding">
                      <button type="button" class="btn btnAplphabets" (click)="SearchByTitleA()" >A</button>
                    </div>
                    <div class="col noPadding">
                        <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">B</button>
                    </div>
                    <div class="col noPadding">
                        <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">C</button>
                    </div>
                    <div class="col noPadding">
                        <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">D</button>
                    </div>
                    <div class="col noPadding">
                        <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">E</button>
                    </div>
                  </div>
                  <div class="row" style="padding-block-start: 0.5rem; padding-inline-start: 1.5rem;" >
                      <div class="col noPadding">
                        <button type="button" class="btn btnAplphabets" (click)="SearchByTitle()" >F</button>
                      </div>
                      <div class="col noPadding">
                          <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">G</button>
                      </div>
                      <div class="col noPadding">
                          <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">H</button>
                      </div>
                      <div class="col noPadding">
                          <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">I</button>
                      </div>
                    </div>
                    <div class="row noPadding" style="padding-block-start: 0.5rem;" >
                        <div class="col noPadding">
                          <button type="button" class="btn btnAplphabets" (click)="SearchByTitle()" >J</button>
                        </div>
                        <div class="col noPadding">
                            <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">K</button>
                        </div>
                        <div class="col noPadding">
                            <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">L</button>
                        </div>
                        <div class="col noPadding">
                            <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">M</button>
                        </div>
                        <div class="col noPadding">
                            <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">N</button>
                        </div>
                      </div>
                      <div class="row" style="padding-block-start: 0.5rem; padding-inline-start: 1.5rem;" >
                          <div class="col noPadding">
                            <button type="button" class="btn btnAplphabets" (click)="SearchByTitle()" >O</button>
                          </div>
                          <div class="col noPadding">
                              <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">P</button>
                          </div>
                          <div class="col noPadding">
                              <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">Q</button>
                          </div>
                          <div class="col noPadding">
                              <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">R</button>
                          </div>
                        </div>
                        <div class="row noPadding" style="padding-block-start: 0.5rem;" >
                            <div class="col noPadding">
                              <button type="button" class="btn btnAplphabets" (click)="SearchByTitleS()" >S</button>
                            </div>
                            <div class="col noPadding">
                                <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">T</button>
                            </div>
                            <div class="col noPadding">
                                <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">U</button>
                            </div>
                            <div class="col noPadding">
                                <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">V</button>
                            </div>
                            <div class="col noPadding">
                                <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">W</button>
                            </div>
                          </div>
                          <div class="row" style="padding-block-start: 0.5rem; padding-inline-start: 1.5rem; padding-block-end: 2rem;" >
                              <div class="col noPadding">
                                <button type="button" class="btn btnAplphabets" (click)="SearchByTitle()" >X</button>
                              </div>
                              <div class="col noPadding">
                                  <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">Y</button>
                              </div>
                              <div class="col noPadding">
                                  <button type="button" class="btn btnAplphabets" (click)="SearchByGenre()">Z</button>
                              </div>
                              <div class="col noPadding">
                                  <button type="button" class="btn btnAplphabets" (click)="SearchByArtist()">#</button>
                              </div>
                            </div>
            </div>
          </div>
              
            <div class="card-footer footer" >
              <div class="container">
                <div>
                    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
                </div>
                <div class="row">
                  <div class="col">
                    <ion-icon color= "primary" name="list" (click)="queue()"></ion-icon>
                  </div>
                  <div class="col">
                    <ion-icon ios="ios-musical-notes" md="md-musical-notes" (click)="searchMusic()"></ion-icon>
                  </div>
                  <div class="col">
                    <ion-icon color= "primary" name="person" md="md-person" (click)="userProfilePage()">
                        </ion-icon>
                  </div>
                </div>
              </div>
            </div>
      
    </ion-grid>
</ion-content>
