
<ion-content>
    <ion-grid>
        <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem; text-align: center;"> 
          <div *ngFor = 'let user of currentUser'>
            <img height="130px" src="../../../assets/Images/White Logo.svg" />
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                  <div class="statusContainer" style="padding-block-start: 2rem;" > 
                    <h5>You'hv joined</h5>
                    <h1>{{user.placeName}}</h1>
                    <h5>hosted by</h5>
                    <h1>{{user.KJName}}</h1>
                    <h3>Now Playing</h3>
                    <button type="button" class="btn btn-secondary btnMusic btn-lg btn-block">
                    <!--<tr> <td align="left"> {{ user.userName }} </td> </tr> -->
                    <tr> <td align="left"> {{ user.songName }}</td></tr>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
          </div>

          <div *ngIf="mySongName">
              <ion-row class="ion-justify-content-center" >
                  <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="statusContainer" > 
                      <h6>You will be singing</h6>
                      <h3>{{mySongName}}</h3>
                      <!--<h3>"{{karaokeSession.musicTitle}}"</h3>-->
                      <h3>in approximately</h3>
                      <ion-icon class="timer" style="zoom:0.5;" ios="ios-timer" md="md-timer"></ion-icon>
                      <h4>{{myTimeRemaining.minute}} minutes</h4>
                      <!-- 
                      <h2>Now Playing</h2>
                      <button type="button" class="btn btn-secondary btnMusic btn-lg btn-block"   style="text-align: center;">
                          <tr> Mike M. </tr>
                          <tr> Life in Mars?</tr>
                      </button>
                      --> 
                    </div>
                  </ion-col>
                </ion-row>
            </div>
          
            <div class="card-footer footer" >
              
                  <app-footer>(music) = 'OnMusicClicked($event)'
                    (list) = 'OnListClicked($event)'
                    (profile) = 'OnProfileClicked($event)'
                  </app-footer>
              
            </div>

            
          </div>
        
    </ion-grid>
</ion-content>
