
<ion-content>
    <ion-grid>
        <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem;"> 
          <embed height="200px" type="image/svg+xml" src="../../../../assets/images/White Logo.svg" />
          
            <div class="card-footer footer" >
              
                  <app-footer>(music) = 'OnMusicClicked($event)'
                    (list) = 'OnListClicked($event)'
                    (profile) = 'OnProfileClicked($event)'
                  </app-footer>
              
            </div>
        </div>
    </ion-grid>
</ion-content>
