#grad1 {
    height: 500px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#E45D9E, #875FA8, #3BA9DF); /* Standard syntax (must be last) */
  }

  .cont {
    position: relative;
    height: 100%;
    background: linear-gradient(#E45D9E, #875FA8, #3BA9DF); 
    background-size: cover;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

app-login {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: linear-gradient(#E45D9E, #875FA8, #3BA9DF);
    overflow: auto;
}

ion-row {
    height: $height100;
}

ion-row1 {
    width: 100%
}
ion-col {
    border: 1px solid #E45D9E
    //background: $white-color;
}

ion-button {
    font-weight: 200;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: linear-gradient(#E45D9E, #875FA8, #3BA9DF)
    }
    ion-col {
        border: none;
    }
}