<ion-content>
    <ion-grid>
        <div padding size-md="6" size-lg="5" size-xs="12" style="left: 0rem;"> 
          <embed height="200px" type="image/svg+xml" src="../../../../assets/images/White Logo.svg" />
          
        </div>

        <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1>WELCOME!</h1>
          </div>
        </ion-col>
        </ion-row>
        
    </ion-grid>
</ion-content>
    